body {
    background-image: url(/img/fondo.jpg);
    backdrop-filter: blur(1px);
    background-size:cover;
    background-repeat:no-repeat;
}


.menu {
    list-style:none;
    display:flex;
    gap: 45px;
    font-family: 'Press Start 2P', cursive;
    font-size: 125%;
}

.p-titulos {
    
    color: white;
}

ul {
    text-align: justify;
    color: white;
    font-size: 150%;
}

a {
    text-decoration: none;
}

.wrapper {
    display:grid ;
    grid-template-columns:repeat(3, 1fr); 
    grid-auto-rows: 100px;
    text-align: center;
}

.box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: gold;
}

.box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: green;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 7;
    background-color: blue;
}

.box4 {
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 10;
    background-color: red;
}

.box5 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: gold;
}

.cabecera {
    display:flex;
    background-image: linear-gradient(180deg, #cdc3ff 0, #9d9df2 50%, #7278b7 100%);
}

.imagen-menu{
    width: 50px;
    height: 50px;
    align-items: flex-end;
}

/*----------------------------------PRODUCTOS----------------------------------*/

.wrapper-productos{
    display:grid ;
    grid-template-columns:repeat(3, 0.3fr); 
    grid-auto-rows: 120px;
    text-align:center;
    /* Para alinear columnas*/
    justify-content: center;
}

.box1-p {
    
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;;

}

.box2-p {
    
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.box3-p {
    
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.box4-p {
    
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 11;
}

.box5-p {
    
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 11;
}

.box6-p {
    
    grid-column-start: 3;
    grid-row-start: 6;
    grid-row-end: 11;
}

.box7-p {
    
    grid-column-start: 1;
    grid-row-start: 11;
    grid-row-end: 16;
}

.box8-p {
    
    grid-column-start: 2;
    grid-row-start: 11;
    grid-row-end: 16;
}

.box9-p {
    
    grid-column-start: 3;
    grid-row-start: 11;
    grid-row-end: 16;
}

.pr {
    height: 250px;
}

/*----------------------------------JUEGOS----------------------------------*/
.wrapper-juegos {
    display:grid;
    grid-template-columns:repeat(2, 0.4fr); 
    grid-auto-rows: 300px;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 125%;
}

.box1-j {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2-j {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3-j {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box4-j {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.precio {
    color: yellow;
}